

/* styles dot css for matthewcocco.com */
html {background: url("../img/retina_wood.png");}

p {font-family: "Lato", sans-serif;}

a {border-radius:5px;}

/* rounded profile image */
.name {font-weight: lighter;}

.name-emphasis {font-weight: normal;}

.contact-links {list-style-type: none; /*text-align:center;*/}

.contact-links li {
	text-transform: uppercase;
	display: inline;
	padding: 1rem;
	border-radius: 5px;
	line-height: 3em;
}

.contact-links li, .contact-links li:hover {
	transition: all 0.5s ease;
}

.contact-links li:hover {
	background: #45B3E0;
}

.contact-links li:hover a, a:hover {color: white;}

a:hover {text-shadow:2px 0px black;}

a, a:hover {transition:all 0.3s ease;}

img.face {
	border-radius: 125px;
	width: 250px;
	margin: 2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 5px solid black;
}

p.studies, p.abroad, p.work {
	font-size: 1.5em;
	padding-top: 1em;
}

p.work {padding-bottom: 1em;}

.major-its {
	color: green;
	font-weight: bold;
}

.school-utd {
	color: orange;
	font-weight: bold;
}

footer {
	text-align: center;
	font-size: 0.75em;
	margin: 2em;
}

li.resume {border: 1px solid #45B3E0;}

